body {
  background-image: linear-gradient(180deg, #305baa, rgba(76, 111, 172, 0.467));
}

.main {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.weather-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.weather {
  display: flex;
}

.selected {
  width: 60%;
}

.card-text {
  font-size: large;
}
